.tree
{
	margin-right: 23px;
	max-width: 200px;
}
.tree li
{
	background-color: #eee;
	margin-bottom: 3px;
	padding: 3px 5px;
	display: block;
}
.tree li ul li
{
	/*background-color: inherit;*/
}

.tree li:hover, .tree .opened
{
/*	background-color: #ded;*/
}

.tree .current:before
{
	content: "→";
}

.tree li .itemName
{
	color: #999999;
	text-decoration: none;
}

.add
{
	margin: 2px 0 0 4px;
	background: url(images/add.gif) no-repeat center center transparent;
	width: 13px;
	height: 13px;
	text-decoration: none;
	display: block;
}

.tree li .active
{
	color: #222;
}

.tree ul
{
	margin: 0;
	list-style: none;
}

.tree .treeGroup
{
	padding: 0;
}

.tree .opener
{
	width: 25px;
}

.toggler
{
	margin-top: -2px;
}

.deleteObject
{
	padding: 10px;
	border: solid 1px #e3e3e3;
	margin: 90px 0 0;
}

.deleteObject:hover
{
	background-color: #EE8787;
}

.defaultForm .smallinfo
{
	padding-left: 10px; 
}

.addZeroElement
{
	margin: 30px 0;
}

.addZeroElement a
{
	display: block;
	background-color: #eee;
	color: #000;
	text-decoration: none;
	padding: 6px 10px;
	text-align: center;
}

.addZeroElement a:hover
{
    background-color: #85BA2E; 
}