.field input
{
	width: 120px ;
	font-size: 10px;
}

.title
{
	padding: 0 0 20px;
	font-size: 14px;
	font-weight: bold;
}

.groups
{
	margin-right: 40px;
}

.group .item
{
	padding: 5px;
	border-bottom: solid 1px #E3e3e3;
	margin-bottom: 1px;
	background-color: #fafafa;
	font-size: 93%;
}
.group .item:hover, .group .opened
{
	background-color: #DDD;
}

.group .item .name
{
	width: 130px;
	padding: 5px;
}

.group .item .name a
{
	text-decoration: none;
	color: #666666;
	display:  block;
}

.group .item .name a:hover
{
	color: #000000;
}

h1
{
	margin-bottom: 30px;
}

.translations h2
{
	margin-bottom: 20px;
}


.translations .item .field, .addForm .field
{
	padding-right: 10px;
}
.translations .item
{
	padding: 5px;
	margin-bottom: 6px;
}

.translations .item:hover
{
	background-color: #fafafa;
}

h2
{

}

.translations textarea
{
	width: 160px;
	height: 11px;
	float: left;
	margin-left: 5px;
	font-size: 64%;
	overflow-y: hidden;
}
.translations .item textarea:focus
{
	height: 80px;
	margin-bottom: 10px;
	overflow-y: auto;
}
