body 
{
	background-color: #F3F3F3;
}

.wrap
{
	width: 500px;
	margin: 5em auto;
}

.wrap img
{
	margin-left: 15px;
}

.loginBox
{
	border-top: solid 7px #9FEE00;
	text-align: center;
	background-color: #FFF;
	padding: 15px 15px;
	margin-top: 10px;
	
	border-radius: 5px;
	box-shadow: 0 0 2px 1px #999;
}

.note
{
	font-size: 10px;
	padding: 20px 45px 10px 15px;
	color: #666;
}
.note a,.note a:hover  
{
	color: #666;
}

.oneLine .left
{
	width: 230px;
	text-align: left;
	padding-top: 5px;
}

.oneLine input
{
	width:222px;
}

.oneLine label
{
	color: #333;
	font-size: 86%;
}

.first
{
	margin-right: 10px;
}

.button
{
	text-align: right;
	padding: 10px 0px 0 0; 
}

.error
{
	margin: 0 0px 20px 0;
	padding: 10px;
	background-color: #E7394E;
	color: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-opera-border-radius: 3px;
	borred-radius: 3px;
}