@import "cleanup.css";

body, html
{
	background-color: #FFFFF;
	font-family: sans-serif;
	font-size: 16px;
}

body a
{
	color: #2C80B5;
	display: inline-block;
}

h1, h2, h3
{
	font-family: Georgia, "Times New Roman", serif;
	color: #33CCCC;
}

h1
{
	font-size: 145.454545455%;
	margin: 0;
	padding: 0 0 10px;
}

h2
{
	font-size: 14px;
	margin: 0;
	padding: 0 0 5px;
}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.left
{
	float: left;
}
.right
{
	float: right;	
}
.moduleContent
{
	padding: 10px 10px 10px 20px;
	/*overflow-x: auto;*/
}

.menuContainer
{
	padding: 10px 0;
	width: 150px;
 	background-color: #F6F6F6;
    font-size: 81.25%;	
   
	-moz-box-shadow: inset -1px 0 5px #D3D3D3;
    -webkit-box-shadow: inset -1px 0 5px #D3D3D3;
	box-shadow: inset -1px 0 5px #D3D3D3;

}

.menuContainer #menu, .menuContainer #menu2  
{
	display: block;
}

.menuContainer li
{
	list-style: none;
	display: block;	
}


.menuContainer .menuItem a
{
	display: block;
	padding: 7px 15px;
	text-decoration: none;
	color: #AAAAAA;
	margin-bottom: 1px;
	text-transform: capitalize;
	border-bottom: solid 1px #f0f0f0;
}

.menuContainer .menuItem a:hover, .menuContainer .active a
{
	background-color: #FFF;
	color: #000;
}
.menuContainer .active a:before
{
	content: "→ ";
}


.menuContainer .sub
{
	font-size: 84.6153846154%;
	padding-left: 10px;
	display: none;
	background-color: #fafafa;
	margin-top: 5px;
}
.menuContainer .sub li a
{
	padding-left: 35px;
	margin-left: -15px;
}

.menuContainer .menutitle
{
	margin-top: 10px;
	padding-left: 15px;
	font-style: italic;
	cursor: pointer;
	color: #999;
}

.menuContainer .menutitle:hover
{
	color: #990000;
}


.toolbar, .form
{
	font-size: 75%;
}
.menuBlock
{
	margin-bottom: 20px;
}

.upperContainerLine
{	
	padding: 8px 10px;
	text-align: right;
	font-size: 75%;
 	border-bottom: solid 1px #EEE;
	background-color: #E0E0E0;
	color: #333;
}


.upperContainerLine a
{
	color: #A60000;
}

.upperContainerLine a:hover
{
	color: #BF3030;
}

#menu2 .sub
{
	margin-bottom: 10px;
}

#menu2 .menutitle
{
	padding: 10px 0 3px 10px;
	font-size: 11px;
	color: #CECECE;
	text-shadow: #666666 0px 1px 1px;
}

.ui-datepicker
{
	font-size: 10px;
}

.form .search
{
	min-width: 800px;
	padding: 0 0 20px;
}

.form .paginator 
{
	border-top: 1px solid #333;
	margin-top: 10px;
	padding: 10px 0;
}

.saveBtn
{
	padding: 5px 5px 5px 30px;
	background: url(../images/buttons/save.png) left center no-repeat #e3e3e3;
}

.relative
{
    position: relative;
}

.defaultError
{
    width: 400px;
    padding: 20px;
    text-align: center;
    border: solid 1px #ddd;
    margin: 30px;
    background-color: #FFF;
    
    
background: rgb(229,229,229); /* Old browsers */
background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(196,196,196,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(196,196,196,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(196,196,196,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(196,196,196,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(196,196,196,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(229,229,229,1) 0%,rgba(196,196,196,1) 100%); /* W3C */
    
    font-size: 118.181818182%;
    
}

.heading h1
{
	margin-top: 5px;
}

.heading .addButton
{
	display: inline-block;
	text-decoration: none;
	color: #666;
	font-size: 92%;
	padding: 4px 8px;	
	margin-left: 20px;
	background-color: #fafafa;
	border-radius: 5px;	
}
.heading .addButton:hover{ background-color: #85BA2E; color: #FFF; }

.heading .listButton
{
	font-size: 92%;
	margin-left: 20px;
	color: #666;
}

.heading .searchForm
{
	padding-top: 7px;
}